* {
    box-sizing: border-box;
}

html,
body,
div,
h1,
section,
form {
    margin: 0 !important;
    padding: 0 !important;
    background-color: rgb(147, 246, 213);
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    text-align: center;
}
.bg-primary {
    color: greenyellow !important;
    background-color: rgb(10, 150, 150) !important;
}

html,
body,
h1 {
    width: 100vw;
}
form {
    font-size: 20px;
}

ul {
    display: flex !important;
    align-items: right !important;
    flex-direction: column;
    padding: 20px;
}

.card {
    margin: 1em !important;
}
.card-body {
    background-color: aliceblue;
}

.task {
    font-weight: bold;
    margin-left: 20px;
    margin-top: 20px;
    width: 100%;
}


form,
section {
    display: flex !important;
    align-items: right !important;
    flex-direction: column !important;
    margin: 1em !important;
}

.submit-btn {
    margin: 0px;
    display: flex;
    justify-content: center;
    background-color: rgb(10, 150, 150);
    color:  aquamarine !important ;
}

.card-footer {
    margin-top: 20px;
}

.badge {
    position: absolute;
    right: 10px;
    color: white;
}

#main {
    margin-left: 100px;
    margin-right: 100px;

}

#alert {
    visibility: hidden ;
    position: absolute;
}